@import "@styles/null";
@import "@styles/variables";

body {
  width: 100%;
  min-width: $sm;
  height: 100%;
  min-height: 100%;
  overflow-x: hidden;
  text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

div#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}
