@import "@styles/null";
@import "@styles/variables";
@import "@styles/mixin";

body {
  @include adaptive-value($property: "font-size", $from: 14, $to: 13);

  overflow: hidden;
  color: $secondary-color;
  font-family: "IBM Plex Mono", sans-serif;
  line-height: 150%;
  background-color: $primary-color;
  text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

div#root {
  /* identifier stub */
}
