// Container sizes
$containerMaxWidth: 2120px;
$containerMinWidth: 320px;
$container: 1280px;

// Breakpoints
$base: 0;
$xs: 480px;
$sm: 768px;
$md: 992px;
$lg: 1200px;
$xl: 1920px;

// Theme colors
$primary-color: #141519;
$secondary-color: #fefeff;
$accent-color: #f7ad19;

// Tiles options
$spacer: 1rem;
$fast: .3s;
$easing: cubic-bezier(.55, 0, .1, 1);
