@import "@styles/variables";
@import "@styles/mixin";

.about-us {
  &__container {
    @include adaptive-value("padding-bottom", 300, 100, 1);
    @include adaptive-value("padding-left", 100, 20, 1);
    @include adaptive-value("padding-right", 100, 20, 1);

    max-width: $container;
    margin: 0 auto;
  }

  &__heading-section {
    @include adaptive-value("margin-bottom", 200, 90, 1);

    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: space-between;
  }

  &__title-section {
    @include adaptive-value("font-size", 200, 120, 1);

    flex: 1 1 auto;
    max-width: 750px;
    padding-right: 80px;
    color: $secondary-color;
    font-weight: 900;
    line-height: 90%;
    text-align: right;

    span {
      @include adaptive-value("font-size", 100, 60, 1);

      position: relative;
      top: -60px;
    }
  }

  &__description-section {
    @include adaptive-value("font-size", 46, 30, 1);

    flex: 0 0 60%;
    max-width: 860px;
    color: $secondary-color;
    line-height: 150%;
    text-align-last: left;

    p {
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }

    span {
      opacity: 0.5;
    }
  }

  &__body {
    @include adaptive-value("margin-bottom", 160, 90, 1);

    display: flex;

    @media (max-width: $xl) {
      flex-direction: column-reverse;
    }
  }

  &__list {
    @include adaptive-value("gap", 120, 60, 1);

    display: flex;
    flex: 0 1 400px;
    flex-direction: column;
  }

  &__item-list {
  }

  &__item-title {
    @include adaptive-value("font-size", 60, 36, 1);

    margin-bottom: 20px;
    font-weight: 900;
    line-height: 120%;
  }

  &__item-description {
    font-style: 16px;
    line-height: 150%;
    opacity: 0.5;
  }

  &__title-wrapper {
    display: flex;
    flex: 1 1 auto;
    align-items: start;
    justify-content: center;
  }

  &__decoration-title {
    @include adaptive-value("font-size", 110, 50, 1);
    @include adaptive-value("padding-left", 100, 60, 1);

    position: relative;
    z-index: 10;
    max-width: 620px;
    font-weight: 900;
    line-height: 90%;

    span {
      position: relative;
      z-index: 10;
    }

    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 9;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transform: translate(-50%, -50%) scale(1.3);
    }

    @media (max-width: $xl) {
      margin-bottom: 80px;
    }
  }
}

.me-profile {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__image {
    position: relative;
    flex: 0 0 160px;
    width: 160px;
    height: 160px;
    margin-bottom: 20px;
    overflow: hidden;
    border-radius: 50px;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__name {
    margin-bottom: 5px;
    font-weight: 900;
    font-style: 24px;
    line-height: 150%;
  }

  &__position {
    @include adaptive-value("margin-bottom", 60, 30, 1);

    font-weight: 600;
    line-height: 150%;
    opacity: 0.5;
  }

  &__quote {
    @include adaptive-value("font-size", 60, 30, 1);

    max-width: 1290px;
    line-height: 120%;
    text-align: center;

    span {
      color: $accent-color;
    }
  }
}
