@import "@styles/variables";
@import "@styles/mixin";

.about-us {
  &__section {
    /* prettier-ignore */
    @include adaptive-value(
      $property: "margin-bottom",
      $from: 300,
      $to: 100
    );

    /* prettier-ignore */
    @include adaptive-value(
      $property: "padding-top",
      $from: 300,
      $to: 100
      );

    /* prettier-ignore */
    @include adaptive-value(
      $property: "padding-left",
      $from: 100,
      $to: 20
    );

    /* prettier-ignore */
    @include adaptive-value(
      $property: "padding-right",
      $from: 100,
      $to: 20
    );

    max-width: $container;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @media (max-width: $lg) {
      display: flex;
      flex-direction: column;
    }
  }

  &__title-wrapper {
    /* prettier-ignore */
    @include adaptive-value(
      $property: "margin-right",
      $from: 100,
      $to: 0
    );

    width: fit-content;

    @media (max-width: $lg) {
      margin-bottom: 50px;
    }
  }

  &__title {
    /* prettier-ignore */
    @include adaptive-value(
      $property: "font-size",
      $from: 200,
      $to: 90
    );

    line-height: 90%;
    font-weight: 900;
  }

  &__title-smaller {
    /* prettier-ignore */
    @include adaptive-value(
      $property: "font-size",
      $from: 100,
      $to: 50
    );

    font-weight: 900;
    text-align: right;
    line-height: 90%;
    margin-top: -20px;

    /* stylelint-disable-next-line */
    @media (max-width: 1440px) {
      line-height: 120%;
    }
  }

  &__description {
    /* prettier-ignore */
    @include adaptive-value(
      $property: "font-size",
      $from: 46,
      $to: 30
    );

    /* prettier-ignore */
    @include adaptive-value(
      $property: "margin-bottom",
      $from: 300,
      $to: 120
    );

    span {
      opacity: 0.5;
    }

    line-height: 140%;
    margin-top: 250px;

    @media (max-width: $lg) {
      margin-top: 0;
    }
  }

  &__clients-said-wrapper {
    /* prettier-ignore */
    @include adaptive-value(
      $property: "margin-bottom",
      $from: 100,
      $to: 50
    );

    display: grid;
    margin-top: 480px;

    @media (max-width: $lg) {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 40px;
      order: 4;
      margin-top: 0;
    }

    @media (max-width: $md) {
      grid-template-columns: 1fr;
    }
  }

  &__clients-said-title {
    /* prettier-ignore */
    @include adaptive-value(
      $property: "font-size",
      $from: 60,
      $to: 36
    );

    line-height: 120%;
    margin-bottom: 20px;
    font-weight: 900;
  }

  &__clients-said-description {
    /* prettier-ignore */
    @include adaptive-value(
      $property: "margin-bottom",
      $from: 100,
      $to: 60
    );

    opacity: 50%;
    max-width: 400px;
  }

  &__clients-said-decoration-wrapper {
    /* prettier-ignore */
    @include adaptive-value(
      $property: "margin-bottom",
      $from: 100,
      $to: 60
    );

    position: relative;
    height: fit-content;

    @media (max-width: $lg) {
      order: 3;
      text-align: center;
    }
  }

  &__clients-said-decoration-title {
    /* prettier-ignore */
    @include adaptive-value(
      $property: "font-size",
      $from: 110,
      $to: 60
    );

    font-weight: 900;
    line-height: 90%;
    white-space: nowrap;
  }

  &__clients-said-decoration-circle {
    /* prettier-ignore */
    @include adaptive-value(
      $property: "left",
      $from: -50,
      $to: -20
    );

    position: absolute;
    height: 121%;
    top: -30px;
    z-index: -15;

    @media (max-width: $lg) {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__profile-wrapper {
    grid-column: 1/3;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: $lg) {
      order: 5;
    }
  }

  &__iam-image {
    /* prettier-ignore */
    @include adaptive-value(
      $property: "width",
      $from: 160,
      $to: 120
    );

    /* prettier-ignore */
    @include adaptive-value(
      $property: "height",
      $from: 160,
      $to: 120
    );

    /* prettier-ignore */
    @include adaptive-value(
      $property: "border-radius",
      $from: 50,
      $to: 40
    );

    object-fit: cover;
    margin-bottom: 20px;
  }

  &__iam-name {
    /* prettier-ignore */
    @include adaptive-value(
      $property: "font-size",
      $from: 24,
      $to: 20
    );

    font-weight: 900;
    line-height: 120%;
    margin-bottom: 6px;
  }

  &__iam-position {
    /* prettier-ignore */
    @include adaptive-value(
      $property: "margin-bottom",
      $from: 40,
      $to: 20
    );

    opacity: 50%;
  }

  &__iam-quote {
    /* prettier-ignore */
    @include adaptive-value(
      $property: "font-size",
      $from: 60,
      $to: 30
    );

    max-width: $xl;
    line-height: 120%;
    text-align: center;
    font-weight: 400;
  }

  &__iam-decoration-quote {
    color: $accent-color;
  }
}
