*.code-workspace
*.log
*.tgz
*.tsbuildinfo
*cache
.DS_Store
.env
.eslintcache
.npm
.nyc_output
.stylelintcache
.vscode-test
.vscode/*
.vscode/*.code-snippets
.vscode/*.code-snippets
.vscode/extensions.json
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
.yarn-integrity
.yarn/build-state.yml
.yarn/cache
.yarn/install-state.gz
.yarn/unplugged
build
coverage
dev-dist
dist
jspm_packages/
lerna-debug.log*
lib-cov
logs
node_modules
npm-debug.log*
out
package-lock.json
pnpm-debug.log*
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
yarn-debug.log*
yarn-error.log*