@import "../../../styles/variables";
@import "../../../styles/mixins";

.main {
  @include adaptive-value($property: "padding-left", $from: 130, $to: 50);
  @include adaptive-value($property: "padding-right", $from: 130, $to: 50);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: $width-in-dvw;
  height: $height-in-dvh;
  padding-top: 40px;
  padding-bottom: 40px;
  user-select: none;

  &__brand-name {
    @include adaptive-value($property: "font-size", $from: 20, $to: 16);

    height: 36px;
    color: $accent-color;
    font-weight: 700;

    span {
      display: inline-flex;
      transition: transform 0.15s linear;

      &:hover {
        @media (hover: hover) and (pointer: fine) {
          transform: scale(1.4);
        }
      }
    }
  }

  &__title {
    @include adaptive-value($property: "font-size", $from: 110, $to: 24);

    color: $secondary-color;
    line-height: 110%;
    text-align: center;
  }

  &__show-all {
    position: relative;
    z-index: 10;
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    color: $accent-color;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.2;
    text-transform: uppercase;
    cursor: pointer;

    svg {
      width: 0.7em;
      height: 0.7em;

      path {
        fill: $accent-color;
      }
    }
  }
}
