@import "@styles/variables";
@import "@styles/mixin";

.main {
  @include adaptive-value($property: "padding-left", $from: 130, $to: 50);
  @include adaptive-value($property: "padding-right", $from: 130, $to: 50);
  padding-top: 40px;
  padding-bottom: 40px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: auto;
  height: $height-in-dvh;

  &__brand-name {
    @include adaptive-value($property: "font-size", $from: 20, $to: 16);
    height: 26px;
    color: $accent-color;
    font-weight: 700;
  }

  &__title {
    @include adaptive-value($property: "font-size", $from: 96, $to: 24);

    color: $secondary-color;
    line-height: 110%;
    text-align: center;
  }

  &__show-all {
    z-index: 10;
    cursor: pointer;
    transition: opacity $fast $easing;
    user-select: none;

    &:hover {
      opacity: 1;
    }

    .show-all & {
      pointer-events: none;
    }
  }
}
