@import "@styles/variables";

.animate-binary-grid {
  display: grid;
  column-gap: 20px;
  row-gap: 3px;
  font-size: 13px;

  &__cell {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba($color: $secondary-color, $alpha: 0.1);
    user-select: none;

    &.unreachable {
      /* class stub */
    }
  }
}
