@import "@styles/variables";
@import "@styles/mixin";

.footer {
  background-color: $accent-color;

  &__container {
    @include adaptive-value("padding-left", 100, 20, 1);
    @include adaptive-value("padding-right", 100, 20, 1);

    max-width: $container;
    margin: 0 auto;
  }

  &__body {
    @include adaptive-value("padding-top", 168, 100, 1);
    @include adaptive-value("padding-bottom", 175, 60, 1);

    display: flex;
    gap: 60px;
    align-items: center;
    justify-content: space-between;
    color: $primary-color;

    @media (max-width: $lg) {
      flex-direction: column;
    }
  }

  &__title {
    @include adaptive-value("font-size", 160, 55, 1);

    font-weight: 900;
    line-height: 90%;

    span {
      @include adaptive-value("width", 290, 110, 1);
      @include adaptive-value("height", 90, 20, 1);

      position: relative;
      display: inline-block;

      &::after {
        @include adaptive-value("height", 20, 12, 1);

        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        background-color: $primary-color;
        transform: translate(0, -50%);
        content: "";
      }
    }

    svg {
      @include adaptive-value("height", 74, 34, 1);
      @include adaptive-value("right", 20, 5, 1);
      @include adaptive-value("width", 90, 36, 1);

      position: relative;
    }

    @media (min-width: $xl) {
      @include adaptive-value("flex-basis", 860, 360, 1);
      @include adaptive-value("max-width", 860, 360, 1);

      flex-grow: 0;
      flex-shrink: 0;
    }

    @media (max-width: $lg) {
      text-align: center;
    }
  }

  &__contacts {
    @include adaptive-value("gap", 53, 20, 1);

    display: flex;
    flex-wrap: wrap;
    align-items: center;

    @media (max-width: $xl) {
      flex-direction: column;
    }
  }

  &__contacts-email {
    @include adaptive-value("font-size", 36, 30, 1);

    font-weight: 800;
    line-height: 150%;
  }

  &__contacts-start-project-btn {
    display: flex;
    flex: 0 0 250px;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 250px;
    color: $accent-color;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    background-color: $primary-color;
    border-radius: 50%;
  }
}

.bottom-footer {
  @include adaptive-value("padding-top", 20, 10, 1);
  @include adaptive-value("padding-bottom", 20, 10, 1);

  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid $primary-color;

  &__policy {
    color: $primary-color;
    font-size: 16px;
    line-height: 150%;
  }

  &__footer-links {
    display: flex;
    gap: 30px;
    align-items: center;

    @media (max-width: $md) {
      justify-content: space-between;
      width: 100%;
    }
  }

  &__footer-link {
    position: relative;
    padding: 10px 15px 10px 0;

    &::after {
      position: absolute;
      top: 50%;
      right: 0;
      width: 10px;
      height: 14px;
      color: $primary-color;
      background: url("../../components/elements/Icon/icons/arrow-href-trd.svg") no-repeat center;
      transform: translate(0, -50%);
      content: "";
    }

    a {
      @include adaptive-value("font-size", 16, 20, 1);

      color: $primary-color;
      font-weight: 500;
      line-height: 150%;
    }

    &:hover {
      color: $primary-color;
    }
  }

  @media (max-width: $lg) {
    flex-direction: column-reverse;
  }
}
