@import "../../styles/variables";

.preloader {
  user-select: none;
  touch-action: none;

  &__overlay {
    position: fixed;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    width: $width-in-dvw;
    height: $height-in-dvh;
    overflow: hidden;
    color: $secondary-color;
    background: $primary-color;
    pointer-events: none;
  }

  &__message {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
    color: $accent-color;
    text-align: center;
  }
}
