@import "@styles/variables";
@import "@styles/funcs";
@import "@styles/mixin";

.not-found {
  @include adaptive-value("gap", 60, 20, 1);

  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  height: 100vh;
  padding: 0 20px;

  &__status-code {
    @include adaptive-value("font-size", 300, 120, 1);

    color: $accent-color;
    line-height: 100%;
    text-align: center;
  }

  &__emulator-of-console-text {
    @include adaptive-value("font-size", 24, 14, 1);
    @include adaptive-value("max-width", remove-unit(#{$lg}), remove-unit(#{$xs}), 1);
    @include adaptive-value("padding", 20, 10, 1);

    align-self: center;
    width: 100%;
    color: $secondary-color;
    font-family: "Space Mono", sans-serif;
    line-height: 140%;

    &--console-border {
      position: relative;
      top: 0;
      left: 0;
      padding: 0 30px;

      &::after {
        @include adaptive-value("height", 150, 100, 1);

        position: absolute;
        top: 0;
        left: 0;
        width: 1px;
        background: linear-gradient(to bottom, rgb(254, 254, 255), rgb(21, 45, 57));
        opacity: 0.06;
        content: "";
      }
    }
  }

  &__what-next {
    @include adaptive-value("font-size", 24, 14, 1);

    color: $accent-color;
    line-height: 140%;
    text-align: center;
  }
}
