@import "@styles/variables";
@import "@styles/mixin";

.card-wedo {
  @include adaptive-value("padding", 40, 30, 1);

  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 40px;
  background-color: rgba(254, 254, 255, 0.02);
  border-radius: 30px;

  &__heading-decoration {
    width: 50%;
    height: 50px;
    margin-bottom: auto;

    &--text {
      display: flex;
      gap: 6px;
      align-items: center;
      width: 100%;
      color: $accent-color;
      line-height: 120%;
    }

    &__tag {
      padding: 10px 12px;
      color: $primary-color;
      font-weight: 500;
      font-size: 13px;
      background-color: $accent-color;
      border-radius: 30px;

      &:nth-child(2) {
        margin-left: 6px;
      }

      &:nth-child(4) {
        margin-right: 6px;
      }
    }
  }

  &__title {
    margin-bottom: 20px;
    font-weight: 900;
    font-size: 36px;
    line-height: 120%;
  }

  &__description {
    opacity: 0.5;
  }
}
