@import "@styles/variables";
@import "@styles/mixin";

.cases {
  &__section {
    /* prettier-ignore */
    @include adaptive-value(
      $property: "padding-top",
      $from: 300,
      $to: 100
    );

    /* prettier-ignore */
    @include adaptive-value(
      $property: "padding-left",
      $from: 100,
      $to: 20
    );

    /* prettier-ignore */
    @include adaptive-value(
      $property: "padding-right",
      $from: 100,
      $to: 20
    );

    max-width: $container;
    margin: 0 auto;
  }

  &__heading {
    /* prettier-ignore */
    @include adaptive-value(
      $property: "margin-bottom",
      $from: 100,
      $to: 40
    );

    display: grid;
    grid-template-columns: 150px 1fr 150px;
    align-items: center;

    @media (max-width: $lg) {
      grid-template-rows: auto auto;
      grid-template-columns: 1fr;
    }
  }

  &__note {
    display: flex;
    gap: 10px;
    align-items: center;
    line-height: 130%;
    transform: translateY(5px);

    @media (max-width: $lg) {
      grid-row: 2/3;

      span {
        max-width: 90px;
      }
    }
  }

  &__title {
    /* prettier-ignore */
    @include adaptive-value(
      $property: "font-size",
      $from: 110,
      $to: 55
    );

    font-weight: 900;
    line-height: 90%;
    text-align: center;

    @media (max-width: $lg) {
      grid-row: 1/2;
      margin-bottom: 30px;
      text-align: left;
    }
  }

  &__grid {
    display: grid;
    grid-template-rows: minmax(420px, auto) minmax(420px, auto);
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;

    @media (max-width: $xl) {
      grid-template-rows: repeat(4, minmax(420px, auto));
      grid-template-columns: 1fr;
    }
  }
}

.card-case {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 10px;
  border-radius: 30px;

  &._light-theme {
    color: $primary-color;
    background-color: $secondary-color;
  }

  &._dark-theme {
    color: $secondary-color;
    background-color: rgba(254, 254, 255, 0.04);

    .card-case__tools-item {
      background-color: rgba(254, 254, 255, 0.04);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 30px;
  }

  &__title {
    /* prettier-ignore */
    @include adaptive-value(
      $property: "font-size",
      $from: 36,
      $to: 30
    );

    margin-bottom: 20px;
    font-weight: 900;
    line-height: 120%;
  }

  &__description {
    flex: 1 1 auto;
    max-width: 320px;
    margin-bottom: 40px;
    font-style: 16px;
    line-height: 150%;
  }

  &__tools-heading {
    margin-bottom: 10px;
    font-weight: 800;
    font-style: 14px;
    line-height: 150%;
  }

  &__tools-items {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    align-items: center;
  }

  &__tools-item {
    display: flex;
    flex: 0 0 50px;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: rgba(21, 45, 57, 0.05);
    border-radius: 12px;

    &--invert-color {
      svg {
        path {
          fill: $primary-color;
        }
      }
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    background-color: antiquewhite;
    border-radius: 20px;

    @media (width <= 630px) {
      grid-row: 1;
      height: 300px;
    }
  }

  @media (width <= 630px) {
    grid-template-columns: 1fr;
  }
}
