@import "@styles/variables";
@import "@styles/mixin";

.orientation-hold-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 20px;
  color: $secondary-color;
  text-align: center;
  background-color: $primary-color;
}

.orientation-hold-message {
  max-width: 90%;

  p & {
    font-size: 1.2em;
  }
}
