@import "@styles/variables";
@import "@styles/mixin";

$height-in-dvh: calc(var(--dvh, 1dvh) * 100);

.virtual-scene {
  transition: transform ($fast * 2) $easing;

  &.show-all {
    transform: scale(calc(1 / 3));
  }

  &__wrapper {
    width: 100%;
    height: $height-in-dvh;
    transition: transform $fast $easing;
  }
}

.virtual-space {
  position: absolute;
  width: 100%;
  height: $height-in-dvh;
  transition: transform $fast $easing;
  will-change: transform;

  &::before {
    position: absolute;
    inset: 0;
    z-index: 2;
    background-color: transparent;
    transition: background-color $fast $easing;
    content: "";
    pointer-events: none;

    .show-all & {
      pointer-events: all;
    }
  }

  &:hover {
    .show-all & {
      &::before {
        background-color: rgba($secondary-color, 0.1);
        cursor: pointer;
      }
    }
  }

  &__caption {
    /* prettier-ignore */
    @include adaptive-value(
      $property: "font-size",
      $from: 120,
      $to: 64
    );

    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    transform: translateX(-50%) translateY(-50%);
    cursor: default;
    user-select: none;
  }

  &__navigate {
    position: absolute;
    color: $secondary-color;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.2;
    text-transform: uppercase;
    cursor: pointer;
    opacity: 0.2;
    transition: opacity $fast $easing;
    user-select: none;
    will-change: opacity;
    z-index: 999;

    &--up {
      top: $spacer;
      left: 50%;
      transform: translateX(-50%);
    }

    &--right-top {
      top: $spacer;
      right: $spacer;
    }

    &--right {
      top: 50%;
      right: $spacer;
      transform: translateY(-50%) rotate(90deg) translateX(100%);
      transform-origin: top right;
    }

    &--right-down {
      right: $spacer;
      bottom: $spacer;
    }

    &--down {
      bottom: $spacer;
      left: 50%;
      transform: translateX(-50%);
    }

    &--left-down {
      bottom: $spacer;
      left: $spacer;
    }

    &--left {
      top: 50%;
      left: $spacer;
      transform: translateY(-50%) rotate(-90deg) translateX(-100%);
      transform-origin: top left;
    }

    &--left-top {
      top: $spacer;
      left: $spacer;
    }

    &:hover {
      opacity: 1;
    }
  }

  &[data-x-position="-1"] {
    left: -100%;
  }

  &[data-x-position="1"] {
    left: 100%;
  }

  &[data-y-position="1"] {
    top: -100%;
  }

  &[data-y-position="-1"] {
    top: 100%;
  }
}
