@import "@styles/variables";
@import "@styles/mixin";

.we-do {
  // prettier-ignore
  &__section {
    @include adaptive-value(
      $property: "gap",
      $fromValue: 30,
      $toValue: 20,
      $type: 1
    );
    @include adaptive-value(
      $property: "padding-top",
      $fromValue: 300,
      $toValue: 100,
      $type: 1
    );
    @include adaptive-value(
      $property: "padding-left",
      $fromValue: 100,
      $toValue: 20,
      $type: 1
    );
    @include adaptive-value(
      $property: "padding-right",
      $fromValue: 100,
      $toValue: 20,
      $type: 1
    );

    display: grid;
    grid-auto-rows: 320px;
    grid-template-columns: repeat(3, 1fr);
    max-width: $container;
    margin: 0 auto;

    @media (max-width: $xl) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: $md) {
      grid-template-columns: 1fr;
    }
  }

  &__title {
    // prettier-ignore
    @include adaptive-value(
      $property: "font-size",
      $fromValue: 110,
      $toValue: 70,
      $type: 1
    );

    font-weight: 900;
    line-height: 90%;

    @media (max-width: $md) {
      margin-bottom: 40px;
    }
  }

  &__card {
    // prettier-ignore
    @include adaptive-value(
      $property: "padding",
      $fromValue: 40,
      $toValue: 30,
      $type: 1
    );

    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 40px;
    background-color: rgba(254, 254, 255, 0.02);
    border-radius: 30px;
  }

  &__card-heading-decoration {
    display: flex;
    flex-wrap: wrap;
    height: 50px;
    margin-bottom: auto;

    &--text {
      display: flex;
      gap: 6px;
      align-items: center;
      width: 100%;
      color: $accent-color;
      line-height: 120%;
    }
  }

  &__card-tag {
    padding: 10px 12px;
    color: $primary-color;
    font-weight: 500;
    font-size: 13px;
    background-color: $accent-color;
    border-radius: 30px;

    &:nth-child(2) {
      margin-left: 6px;
    }

    &:nth-child(4) {
      margin-right: 6px;
    }
  }

  &__card-title {
    margin-bottom: 20px;
    font-weight: 900;
    font-size: 36px;
    line-height: 120%;
  }

  &__card-description {
    opacity: 0.5;
  }

  @media (max-width: $lg) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: $md) {
    grid-template-rows: auto;
    grid-template-columns: 1fr;
  }
}
