@import "@styles/variables";
@import "@styles/mixin";

.hero {
  &__section {
    @include adaptive-value("padding-left", 100, 20, 1);
    @include adaptive-value("padding-right", 100, 20, 1);
    @include adaptive-value("padding-top", 107, 87, 1);
    @include adaptive-value("padding-bottom", 50, 20, 1);

    display: flex;
    width: 100%;
    max-width: $container;
    height: 100dvh;
    margin: 0 auto;

    @media (max-width: $xl) {
      flex-direction: column-reverse;
    }
  }

  &__offer {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: end;
    height: 100%;
  }

  &__description-wrapper {
    display: flex;
    gap: 20px;
    align-items: center;
  }

  &__start-project-btn {
    @include adaptive-value("flex-basis", 120, 100, 1);
    @include adaptive-value("height", 120, 100, 1);
    @include adaptive-value("width", 120, 100, 1);

    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    color: $primary-color;
    font-weight: 700;
    line-height: 120%;
    text-align: center;
    background-color: $accent-color;
    border-radius: 50%;
  }

  &__description {
    max-width: 450px;
    font-size: 16px;
    line-height: 150%;
  }

  &__title-wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__title-word {
    @include adaptive-value("font-size", 200, 70, 1);

    font-weight: 900;
    line-height: 80%;
    white-space: nowrap;

    span {
      color: $accent-color;
    }
  }

  &__code-container {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    height: 100%;
  }

  &__code-wrapper {
    @include adaptive-value("padding-top", 115, 40, 1);

    position: relative;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;

    @media (max-width: $xl) {
      align-items: center;
    }
  }

  &__lets-watch {
    display: flex;
    gap: 9px;
    align-items: center;
    justify-content: end;

    @media (max-width: $xl) {
      display: none;
    }
  }

  &__code {
    p {
      max-width: 400px;
      color: rgba(255, 255, 255, 0.8);
      line-height: 150%;
    }

    &--1 {
      position: relative;
      padding: 0 30px;

      &::after {
        @include adaptive-value("height", 600, 300, 1);

        position: absolute;
        top: 0;
        left: 0;
        width: 3px;
        background: linear-gradient(to bottom, rgb(254, 254, 255), rgb(21, 45, 57));
        opacity: 0.06;
        content: "";

        @media (max-width: $xl) {
          height: 200px;
        }
      }
    }

    &--2 {
      position: absolute;
      top: 50%;
      left: 50%;
      padding: 0 30px;
      transform: translate(-50%, -50%);

      &::after {
        @include adaptive-value("height", 400, 200, 1);

        position: absolute;
        top: 0;
        left: 0;
        width: 2px;
        background: linear-gradient(to bottom, rgb(254, 254, 255), rgb(21, 45, 57));
        opacity: 0.06;
        content: "";
      }

      @media (max-width: $xl) {
        display: none;
      }
    }

    @media (max-width: $xl) {
      margin-bottom: 100px;
    }
  }

  &__lets-watch-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    background-color: $primary-color;
    border: 1px solid $secondary-color;
    border-radius: 100px;
  }

  @media (max-width: $xl) {
    flex-direction: column-reverse;
  }
}
