@import "@styles/variables";
@import "@styles/mixin";

.hero {
  &__section {
    /* prettier-ignore */
    @include adaptive-value(
      $property: "padding-left",
      $from: 100,
      $to: 20
    );
    /* prettier-ignore */
    @include adaptive-value(
      $property: "padding-right",
      $from: 100,
      $to: 20
    );
    /* prettier-ignore */
    @include adaptive-value(
      $property: "padding-bottom",
      $from: 50,
      $to: 20
    );

    display: flex;
    width: 100%;
    max-width: $container;
    height: calc(100dvh - 80px);
    margin: 0 auto;

    @media (max-width: $lg) {
      flex-direction: column-reverse;
    }
  }

  &__offer {
    /* prettier-ignore */
    @include adaptive-value(
      $property: "gap",
      $from: 30,
      $to: 20
    );

    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 50%;
    height: 100%;

    @media (max-width: $lg) {
      width: auto;
    }
  }

  &__description-wrapper {
    display: flex;
    gap: 20px;
    align-items: center;
  }

  &__start-project-btn {
    /* prettier-ignore */
    @include adaptive-value(
      $property: "flex-basis",
      $from: 120,
      $to: 100
    );
    /* prettier-ignore */
    @include adaptive-value(
      $property: "height",
      $from: 120,
      $to: 100
    );
    /* prettier-ignore */
    @include adaptive-value(
      $property: "width",
      $from: 120,
      $to: 100
    );

    z-index: 15;
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    color: $accent-color;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    text-align: center;
    background-color: $primary-color;
    border: 3px solid $accent-color;
    border-radius: 50%;
  }

  &__description {
    max-width: 250px;
    font-size: 16px;
    line-height: 150%;
  }

  &__title-wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__title-word {
    /* prettier-ignore */
    @include adaptive-value(
      $property: "font-size",
      $from: 200,
      $to: 68
    );

    font-weight: 900;
    line-height: 80%;
    white-space: nowrap;
  }

  &__code-wrapper {
    /* prettier-ignore */
    @include adaptive-value(
      $property: "padding-top",
      $from: 110,
      $to: 10
    );

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    height: 100%;

    @media (max-width: $xl) {
      justify-content: start;
    }

    @media (max-width: $lg) {
      width: auto;
    }
  }

  &__code {
    position: relative;
    height: 100px;

    pre {
      margin: 0;
      padding: 0;
      overflow: hidden;

      code {
        /* prettier-ignore */
        @include adaptive-value(
          $property: "font-size",
          $from: 13,
          $to: 11
        );

        margin: inherit;
        padding: inherit;
        overflow: hidden;
        color: rgba($secondary-color, 0.3);
        font-family: "Space Mono", sans-serif;
      }
    }

    &--python {
      padding: 0 0 0 20px;
      line-height: 140%;

      &::after {
        /* prettier-ignore */
        @include adaptive-value(
          $property: "height",
          $from: 300,
          $to: 150
        );

        position: absolute;
        top: 0;
        left: 0;
        width: 1px;
        background: linear-gradient(to bottom, rgb(254, 254, 255), rgb(21, 45, 57));
        opacity: 0.06;
        content: "";
      }
    }

    &--rust {
      // @include adaptive-value($property: "margin-left", $from: 150, $to: 45);
      // @include adaptive-value($property: "margin-bottom", $from: 100, $to: 50);
      // @include adaptive-value($property: "margin-top", $from: 250, $to: 145);


      margin-left: 25%;
      padding: 0 0 0 20px;
      line-height: 140%;

      &::after {
        /* prettier-ignore */
        @include adaptive-value(
          $property: "height",
          $from: 300,
          $to: 150
        );

        position: absolute;
        top: 0;
        left: 0;
        width: 1px;
        background: linear-gradient(to bottom, rgb(254, 254, 255), rgb(21, 45, 57));
        opacity: 0.06;
        content: "";
      }

      @media (max-width: $xl) {
        margin-top: 250px;
        margin-bottom: 100px;
      }

      @media (max-width: $lg) {
        display: none;
      }
    }
  }

  &__lets-watch {
    display: flex;
    gap: 9px;
    align-items: center;
    justify-content: end;

    @media (max-width: $xl) {
      display: none;
    }
  }

  &__lets-watch-circle {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    background-color: $primary-color;
    border: 1px solid $secondary-color;
    border-radius: 100px;
  }

  @media (max-width: $xl) {
    flex-direction: column-reverse;
  }
}
