@import "@styles/variables";
@import "@styles/mixin";

.virtual-space-contacts {
  width: 100%;
  height: 100%;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  @include adaptive-value($property: "padding", $from: 130, $to: 50);
  @media (max-width: 800px) {
    grid-template-rows: auto auto auto 1fr;
  }

  &__title {
    font-size: 72px;
    font-weight: 600;
    line-height: 110%;
    @include adaptive-value($property: "font-size", $from: 72, $to: 32,);
  }

  &__decor {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    @media (max-width: 800px) {
      justify-self: end;
      grid-row: 3;
      grid-column: 1/-1;
    }
  }

  &__square {
    width: 16px;
    height: 16px;
    background-color: $accent-color;
    margin: 40px 0 100px auto;
    @media (max-width: 800px) {
      margin: 0 auto 50px 0;
    }
  }

  &__email-wrapper {
    align-self: end;
    @media (max-width: 800px) {
      grid-row: 4;
    }
  }

  &__description {
    max-width: 320px;
    margin-bottom: 30px;
  }

  &__email {
    font-size: 36px;
    color: $accent-color;
    @include adaptive-value($property: "font-size", $from: 36, $to: 24);
  }

  &__social-wrapper {
    justify-self: end;
    align-self: end;
    display: flex;
    align-items: center;
    @include adaptive-value($property: "gap", $from: 40, $to: 10);
    @media (max-width: 800px) {
      grid-row: 2;
      margin: 40px 0;
      justify-self: start;
      gap: 20px;
    }
  }

  &__social-link {
    display: flex;
    align-items: center;
    gap: 6px;
    color: $secondary-color;
    svg {
      width: 10px;
      height: 10px;
      path {
        fill: $accent-color;
      }
    }
  }



























  &__decor-matrix-wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }






}
