@import "@styles/variables";

.drawer-menu {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100dvh;
  padding: 30px 25px 20px 20px;
  overflow: hidden;
  background-color: $accent-color;
  transform: translate(100%, 0);
  transition: all 0.3s;
  pointer-events: none;

  &._visible {
    overflow: auto;
    transform: translate(0, 0);
    transition: all 0.3s;
    pointer-events: visible;
  }

  &__close-btn {
    width: fit-content;
    margin-bottom: 85px;
    background-color: transparent;
  }

  &__start-project-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    min-height: 120px;
    margin-bottom: 40px;
    color: $accent-color;
    font-weight: 600;
    font-size: 16px;
    background-color: $primary-color;
    border-radius: 100px;
  }

  &__nav {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    gap: 46px;
    align-items: center;
    margin-bottom: 40px;
  }

  &__link {
    font-weight: 500;
    font-size: 30px;
    text-align: center;
    background-color: $accent-color;

    a {
      color: $primary-color;
    }
  }

  &__social-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 400px;
  }

  &__social-link {
    display: flex;
    align-items: center;

    a {
      margin-right: 6px;
      color: $primary-color;
      font-weight: 700;
      font-size: 16px;
    }
  }
}
