@import "@styles/variables";
@import "@styles/mixin";

.drawer-menu {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1280;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100dvh;
  padding: 30px 25px 20px 20px;
  overflow: hidden;
  background-color: $accent-color;
  transform: translate(100%, 0);
  transition: all 0.3s;
  pointer-events: none;

  &._visible {
    overflow: auto;
    transform: translate(0, 0);
    transition: all 0.3s;
    pointer-events: visible;
  }

  &__close-btn {
    /* prettier-ignore */
    @include adaptive-value(
      $property: "margin-bottom",
      $from: 85,
      $to: 50
    );

    width: fit-content;
    margin-bottom: 85px;
    background-color: transparent;
  }

  &__lets-start-project-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    min-height: 120px;
    margin-bottom: 40px;
    color: $accent-color;
    font-weight: 600;
    font-size: 16px;
    background-color: $primary-color;
    border-radius: 100px;
  }

  &__nav {
    /* prettier-ignore */
    @include adaptive-value(
      $property: "gap",
      $from: 46,
      $to: 30
    );

    /* prettier-ignore */
    @include adaptive-value(
      $property: "margin-bottom",
      $from: 40,
      $to: 30
    );

    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    align-items: center;
  }

  &__link {
    /* prettier-ignore */
    @include adaptive-value(
      $property: "font-size",
      $from: 32,
      $to: 24
    );

    color: $primary-color;
    font-weight: 500;
    text-align: center;
    background-color: $accent-color;
  }

  &__social-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 400px;
  }

  &__social-link {
    display: flex;
    align-items: center;
    color: $primary-color;

    a {
      margin-right: 6px;
      font-weight: 700;
      font-size: 16px;
    }
  }
}
