@import "@styles/variables";

.budget-range {
  display: flex;
  align-items: center;
  justify-content: center;

  &__min-limit,
  &__max-limit {
    flex: 0 0 auto;
    color: rgba($color: $secondary-color, $alpha: 0.25);
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
  }

  &__min-limit {
    padding-right: 30px;
  }

  &__max-limit {
    padding-left: 30px;
  }

  &__wrapper {
    position: relative;
    width: 100%;
  }

  &__double-slider {
    position: relative;
    z-index: 1;
    margin: 0 15px;
  }

  &__track {
    position: absolute;
    inset: 0;
    z-index: 1;
    margin: -14px -26px;
    background-color: $primary-color;
    border: 1px solid rgba($color: $secondary-color, $alpha: 0.15);
  }

  &__range {
    position: absolute;
    inset: 0 25%;
    z-index: 2;
    margin: -9px -20px;
    background-color: $accent-color;
  }

  &__values {
    position: absolute;
    top: -30px;
    left: 50%;
    display: flex;
    color: $accent-color;
    font-weight: 400;
    line-height: 150%;
    transform: translate(-50%, 0);
  }

  &__left-value {
    padding-right: 16px;
  }

  &__right-value {
    padding-left: 16px;
  }

  &__thumb {
    position: absolute;
    z-index: 3;
    width: 10px;
    height: 10px;
    background-color: transparent;

    &--left {
      left: 25%;
      transform: translate(-15px, -5px);
    }

    &--right {
      right: 25%;
      transform: translate(15px, -5px);
    }
  }
}

input[type="range"] {
  position: absolute;
  top: 50%;
  z-index: 2;
  width: 100%;
  height: 28px;
  transform: translate(0, -50%);
  opacity: 0;
  appearance: none;
  pointer-events: none;

  &::-webkit-slider-thumb {
    width: 20px;
    height: 20px;
    background: transparent;
    border: none;
    border-radius: 50%;
    opacity: 1;
    appearance: none;
    pointer-events: all;
  }

  &::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: transparent;
    border: none;
    border-radius: 50%;
    opacity: 1;
    appearance: none;
    pointer-events: all;
  }
}
